parameters:
    level: 8
    paths:
        - src
        - tests
    tmpDir: .phpstan
    checkMissingIterableValueType: true
    treatPhpDocTypesAsCertain: true
    parallel:
        maximumNumberOfProcesses: 1
